<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="ability.css">
</head>


<div class="container-fluid sym-base">
    <div class="sym-item-block col-12">
        <div class="row align-self-start">
            <div class="col-12 sym-card">
                <div class="sym-card-title">
                    {{ variables.name }}
                </div>
                <div class="sym-card-body">
                    {% if variables.description is defined and variables.description != "" %}
                        <div class="sym-item-text">
                            {{variables.description}}
                        </div>
                    {% endif %}
                    <hr class="sym-divider" />
                    <div style="overflow-x: auto;">
                        <table class="sym-table">
                            {% if variables.novice_power is defined and variables.novice_power != "" %}
                                <tr>
                                    <td class="sym-table-data-left"><span class="sym-description">Novice</span></td>
                                    <td class="sym-table-data"><span class="sym-description">{{variables.novice_power_action}}:</span> {{variables.novice_power}}</td>
                                </tr>
                            {% endif %}
                            {% if variables.adept_power is defined and variables.adept_power != "" %}
                                <tr>
                                    <td class="sym-table-data-left"><span class="sym-description">Adept</span></td>
                                    <td class="sym-table-data"><span class="sym-description">{{variables.adept_power_action}}:</span> {{variables.adept_power}}</td>
                                </tr>
                            {% endif %}
                            {% if variables.master_power is defined and variables.master_power != "" %}
                                <tr>
                                    <td class="sym-table-data-left"><span class="sym-description">Master</span></td>
                                    <td class="sym-table-data"><span class="sym-description">{{variables.master_power_action}}:</span> {{variables.master_power}}</td>
                                </tr>
                            {% endif %}
                            {% if variables.grandmaster_power is defined and variables.grandmaster_power != "" %}
                                <tr>
                                    <td class="sym-table-data-left"><span class="sym-description">Grandmaster</span></td>
                                    <td class="sym-table-data"><span class="sym-description">{{variables.grandmaster_power_action}}:</span> {{variables.grandmaster_power}}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
